.ledger-page-container {
  max-width: 220px;
  height: 300px;
  background-color: #e2b883;
}

// .link {
//   color: black; /* Change the font color to black */
//   text-decoration: none; /* Remove the underline */
// }

/* ledgerStyles.scss */

.Link {
  a {
    color: black;
    text-decoration: none; /* Optionally remove underline */
  }
}



.page-header {
  display: flex;
  column-gap: 5px;
  &-section {
    width: 50%;
    font-size: 12px;
    background-color: #caa780;
    text-align: center;
    &-highlight {
      font-size: medium;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
    }
  }
}

.ledger-data {
  font-size: smaller;
  font-family: 'Courier New', Courier, monospace;
}

.ledger-data-container {
  margin-top: 10px;
}

.link-line {
  position: relative;
  top: 40%;
  left: -100px; /* Position the line to the left */
  width: 150px; /* Length of the connecting line */
  height: 2px;
  color: #caa780;
  font-weight: bolder;
  transform: translateY(-50%);
}
.time-label {
  top: 38%;
  left: -50px;
  font-size: small;
  color: black;
}
