
  
  .dashboard-box {
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    margin-right: 1300px;
  }
  
  .box-header {
    font-size: 18px; 
    font-weight: bold; 
    padding: 10px 0; 
    border-bottom: 1px solid #ccc; 
    border-radius: 5px;
    text-align: center;
  }
  
  .box-content {
    padding: 20px; 
  }
  
  .date-picker {
    margin-bottom: 10px; 
  }
  