.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%; 
    height: 500px;
    max-height: 100%; 
    overflow-y: auto; 
}

.modal-header {
    background-color: rgba(72,83,112,255);
    color: white;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative; 
}

.modal-close-btn {
    position: absolute;
    top: 8.5%;
    transform: translateY(-50%);
    right: 30px;
    background: white; 
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}
