// .svg-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     width: 100vw;
  
//     svg {
//       // You can specify the size of the SVG here or directly in the SVG attributes
//       max-width: 100%;
//       max-height: 100vh;
//       overflow: hidden;
//       // If you want to maintain the SVG's aspect ratio, you may include these:
//       // preserveAspectRatio="xMidYMid meet"
//       // viewBox="0 0 widthOfSvg heightOfSvg"
//     }
//   }
  
//   body, html {
//     margin: 0;
//     padding: 0;
//     height: 100%;
//     overflow-x: hidden;

//   }